@font-face {
  font-family: questrian;
  font-display: auto;
  src: url(./font/Questrian.ttf.woff);
}

@font-face {
  font-family: "icomoon";
  src: url("./font/icomoon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-size: 3rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bars:before {
  content: "\f0c9";
}
.icon-paw:before {
  content: "\e900";
}
.icon-location:before {
  content: "\e947";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
html {
  font-size: 62.5%;
}
body {
  font-family: Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0, 0, 0, 0.84);
  letter-spacing: 0.0625em;
}

h1,
h2,
h3 {
  font-weight: 800;
  margin: 1rem 0 1rem 0;
}

h1 {
  font-family: questrian;
  font-size: 3.6rem;
}

h2 {
  font-size: 2.8rem;
  font-family: questrian;
}

h3 {
  font-size: 2.4rem;
}

p {
  text-align: justify;
  margin: 0 0 2rem 0;
  a {
    color: $casablanca;
    text-decoration: underline;
  }
}

a {
  color: rgba(0, 0, 0, 0.84);
  display: inline-block;
  text-decoration: none;
  span {
    vertical-align: middle;
  }
}

.center-text {
  text-align: center;
}

.icon {
  color: rgba(255, 255, 255, 0.84);
  &:hover {
    color: $casablanca;
  }
}

.paw-title {
  text-align: center;
  font-family: questrian;
  &:before {
    font-family: icomoon;
    content: "\e900";
    color: #e1eef0;
    margin-right: 10px;
  }
  &:after {
    font-family: icomoon;
    content: "\e900";
    color: #e1eef0;
    margin-left: 10px;
  }
}

/*phones*/
@media only screen and (max-width: 720px) {
  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 2rem;
  }
  .paw-title {
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }
}
