@import url("https://fonts.googleapis.com/css?family=Lato");

@font-face {
  font-family: questrian;
  font-display: auto;
  src: url(./font/Questrian.ttf.woff);
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0, 0, 0, 0.84);
  letter-spacing: 0.0625em;
}

h1,
h2,
h3 {
  font-weight: 800;
  margin: 1rem 0 1rem 0;
}

h1 {
  font-family: questrian;
  font-size: 3.6rem;
}

h2 {
  font-size: 2.4rem;
  &.alt {
    font-family: questrian;
    font-size: 2.8rem;
  }
}

h3 {
  font-size: 2.1rem;
}

p {
  text-align: justify;
  margin: 0 0 2rem 0;
}

a {
  color: rgba(0, 0, 0, 0.84);
}

.center-text {
  text-align: center;
}

.icon {
  color: rgba(255, 255, 255, 0.84);
  &:hover {
    color: $casablanca;
  }
}

.paw-title {
  text-align: center;
  &:before {
    font-family: FontAwesome;
    content: "\f1b0";
    color: #e1eef0;
    margin-right: 10px;
  }
  &:after {
    font-family: FontAwesome;
    content: "\f1b0";
    color: #e1eef0;
    margin-left: 10px;
  }
}

/*phones*/
@media only screen and (max-width: 720px) {
  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 2rem;
  }
}
