@import url("https://fonts.googleapis.com/css?family=Lato");
html {
  font-size: 62.5%;
  letter-spacing: 1.1rem;
}
body {
  font-family: "Lato", sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0, 0, 0, 0.84);
}

@font-face {
  font-family: questrian;
  src: url(./font/Questrian.ttf.woff);
}

h1 {
  font-size: 4.8rem;
  font-family: questrian;
}

h2 {
  font-size: 3.6rem;
  margin-bottom: 20px;
  font-weight: 400;
  font-family: questrian;
}

h3 {
  font-size: 2.8rem;
  margin-bottom: 20px;
  font-weight: 400;
  font-family: questrian;
}

h4 {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
}

caption {
  font-size: 1.4rem;
}

a {
  color: rgba(0, 0, 0, 0.84);
}

.icon {
  color: rgba(255, 255, 255, 0.84);
  &:hover {
    color: $casablanca;
  }
}
