.btn {
  background-color: rgba(246, 199, 69, 0.84);
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
  text-align: center;
  line-height: 1.8rem;
  &:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  i {
    margin-left: 10px;
  }
}

.card {
  background: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 3rem;
  padding: 2rem;
}

.btn-clear {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
  &:hover {
    border-color: $casablanca;
    color: $casablanca;
  }
}

.button {
  transition: all 0.2s;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  &:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}

.btn-huge {
  display: block;
  width: 60%;
  background-color: rgba(246, 199, 69, 0.84);
  padding: 1rem;
  cursor: pointer;
  border: 0px;
  text-transform: uppercase;
  font-size: 1.8rem;
  text-align: center;
  transition: all 0.2s;
  margin-bottom: 1rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  &:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  &.blue {
    background-color: #e1eef0;
  }
  &.clicked {
    border: 4px solid #7fa8c5;
  }
}
