.main-container {
  background-color: #e1eef0;
  position: relative;
  z-index: 98;
  height: 2000px;
  background-image: url("images/topography.svg");

  .main {
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    z-index: 99;
    position: relative;
  }

  .features {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: (minmax(200px, 1fr)) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }

  .feature {
    background: white;
    padding: 10px;
    border: 1px solid white;
    text-align: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  }
}
