#parallax {
  display: block;
  top: 50px;
  overflow: hidden;
}

.keyart {
  position: relative;
  height: 550px;
}

.keyart_layer {
  height: 550px;
  background-position: top center;
  background-size: auto 550px;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}
.keyart_layer.parallax {
  position: fixed;
}
#keyart-0 {
  background-image: url("images/parallax_opt/parallax0@2x.png");
  background-color: #8bd5ff;
}
#keyart-1 {
  background-image: url("images/parallax_opt/parallax1@2x.png");
}
#keyart-2 {
  background-image: url("images/parallax_opt/parallax2@2x.png");
}
#keyart-3 {
  background-image: url("images/parallax_opt/parallax3@2x.png");
}
#keyart-4 {
  background-image: url("images/parallax_opt/parallax4@2x.png");
}
#keyart-5 {
  background-image: url("images/parallax_opt/parallax5@2x.png");
}
#keyart-6 {
  background-image: url("images/parallax_opt/parallax6@2x.png");
}
#keyart-7 {
  background-image: url("images/parallax_opt/parallax7@2x.png");
}
#keyart-8 {
  background-image: url("images/parallax_opt/parallax8@2x.png");
}
#logo {
  position: absolute;
  max-width: 400px;
  min-width: 300px;
  top: 100px;
  margin: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  img {
    width: 100%;
  }
}

.mobile-bg {
  display: none;
  height: 550px;
  background-position: top center;
  background-size: auto 550px;
  width: 100%;
  position: absolute;
  background-image: url("images/parallax_opt/mobile_background.jpg");
}

@media only screen and (max-width: 654px) {
  .mobile-bg {
    display: block;
  }
  .keyart_layer {
    display: none;
  }
  #logo {
    top: 120px;
  }
}
