.icon-location:before {
  font-family: "FontAwesome";
  content: "\f041";
}

.hoursBox {
  border-left: 1px solid #d3d3d3;
  .address {
    display: flex;
    ul:first-of-type {
      width: 30px;
    }
    li {
      height: 30px;
    }
  }
  ul {
    list-style: none;
  }
  .hoursContent {
    padding: 20px;
  }
  .hoursTitle {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
  }

  .hours {
    display: flex;
    justify-content: space-between;
  }

  .hours ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .hours ul:first-child {
    font-weight: 700;
  }

  .hours ul:last-child {
    font-weight: 100;
  }

  .hours ul li {
    padding-bottom: 5px;
  }
  &.footer {
    background: transparent;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0);
    text-align: left;
    border: 0px;
    a {
      text-decoration: underline;
    }
    i {
      color: $casablanca;
    }
    .hoursContent {
      padding: 0px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .hoursBox {
    border: 0px;
  }
}
