.main-navigation {
	display: flex;
	width: 100%;
	background-color: $dark-fern;
	font-family: questrian;
	justify-content: flex-end;
	font-size: 1.8rem;
	flex-wrap: wrap;
	position: absolute;
	z-index: 99999;

	ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		text-decoration: none;
		margin: 0;
		margin-right: 40px;
		padding: 0;
	}

	li {
		padding: 10px;
		text-align: center;
		text-transform: uppercase;
		cursor: pointer;
		white-space: nowrap;
		a {
			color: white;
			text-decoration: none;
		}
	}
	li:hover {
		background-color: rgba(255, 255, 255, 0.3);
	}

	.home-button {
		-webkit-clip-path: polygon(
			100% 0,
			95% 50%,
			100% 100%,
			0% 100%,
			5% 50%,
			0% 0%
		);
		clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0% 100%, 5% 50%, 0% 0%);
		white-space: nowrap;
		text-decoration: none;
		background-color: $potters-clay;
		margin-right: auto;
		margin-left: 40px;
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
		padding: 0 20px 0 20px;
		a {
			color: $casablanca;
		}
		li:hover {
			background-color: rgba(255, 255, 255, 0);
		}
	}
}
