.copyright {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

footer {
  background-color: $dark-fern;
  position: relative;
  bottom: 0;
  width: 100%;

  .footer-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .footer-widget {
      h3 {
        color: $casablanca;
        font-family: questrian;
        letter-spacing: 2px;
      }
      color: rgba(255, 255, 255, 0.8);
      margin: 20px;
      min-width: 250px;
      ul {
        list-style: none;
        padding: 0;
        li {
          line-height: 1.5;
        }
      }
      li:before {
        font-family: "FontAwesome";
        content: "\f1b0";
        margin: 0 5px 0 -15px;
        color: $casablanca;
      }
      a {
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}
