.copyright {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.2);
  padding: 20px;
}

footer {
  padding-top: 40px;
  background-color: $dark-fern;
  position: relative;
  bottom: 0;
  width: 100%;

  .footer-widget {
    h3 {
      color: $casablanca;
      font-family: questrian;
    }
    color: rgba(255, 255, 255, 0.8);
    margin: 20px;
    min-width: 250px;
    ul {
      list-style: none;
      padding: 0;
      li {
        line-height: 1.5;
      }
    }
    a {
      color: rgba(255, 255, 255, 0.8);
      &:hover {
        color: $casablanca;
      }
    }
  }

  #footer-sidebar2 {
    text-align: left;
  }
}
