.offset {
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}

.feature {
  background: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-width: 400px;
  min-width: 380px;
  padding: 0 2rem 2rem 2rem;
  margin: auto;

  img {
    max-width: 100%;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  }
  .btn-clear {
    font-size: 1.8rem;
    border-color: $dark-fern;
    color: $dark-fern;
    font-weight: 600;
  }
}

.cta-section {
  background-color: #001a08;
  color: rgba(255, 255, 255, 0.7);
  padding: 3rem 0 4rem 0;
  position: relative;

  .btn-area {
    a {
      width: 150px;
      font-size: 1.8rem;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  .location {
    min-width: 300px;
    span {
      line-height: 1.3;
    }
    a {
      color: rgba(255, 255, 255, 0.7);
      .directions {
        color: $casablanca;
        text-decoration: underline;
      }
    }
  }
}

.hours {
  table {
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    border-collapse: collapse;

    th {
      font-weight: bold;
      text-align: center;
      border-bottom: 1px solid $casablanca;
      border-right: 1px solid $casablanca;
      padding: 6px;

      &:last-child {
        border-right: none;
      }
    }

    .opening td {
      padding-top: 5px;
    }

    .today {
      background: rgba(253, 198, 9, 0.5);
    }

    .closing td {
      padding-bottom: 5px;
    }

    td {
      border-right: 1px solid $casablanca;
      white-space: nowrap;
      padding: 5px;

      &:last-child {
        border-right: none;
      }
    }
  }
}

blockquote {
  padding: 20px;
  position: relative;
  max-width: 400px;
  .stars {
    color: $casablanca;
    margin-bottom: 10px;
  }
}

cite {
  margin-top: 10px;
  font-size: 1.6rem;
}

/*most phones*/
@media only screen and (max-width: 720px) {
  .btn-area {
    display: none;
  }
  .feature {
    min-width: 300px;
  }
}
