.main {
  background-color: #e1eef0;
  background-image: url("images/topography.svg");
  position: relative;
  padding-bottom: 3rem;
}
.container {
  position: relative;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body {
  color: rgba(0, 0, 0, 0.7);
}

hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
  margin-top: 20px;
  margin-bottom: 20px;
}

form {
  input:not([type="submit"]):not([type="file"]) {
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    border: 0;
    font-size: 2.4rem;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 280px;
    padding: 5px;
  }
  input[type="submit"] {
    display: block;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    transition: all 0.2s;
    &:hover {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
      border-color: $casablanca;
      color: $casablanca;
    }
  }
}
